body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

@keyframes slide{
    from {
        transform: scaleX(0);
        transform-origin: left;
    }
    to{
        transform: scaleX(1)
    }
}

@keyframes up{
    from{
      opacity: 0;
      transform: translateY(0)
    }
    50%{
      opacity: 1
    }
    to{
      opacity: 0;
      transform: translateY(-900px) rotate(960deg)
    }
  }

@keyframes fall{
    from {
        transform: translateY(-5rem);
        opacity:0.1
    }
    to{
        transform: translateY(0);
        opacity:1;
    }
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

main.container {
    background: white;
    max-width: 400px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    animation: fall 800ms;
    z-index:9999;
    margin-bottom:2rem;
}

@media (min-width:768px){
    main.container{
        min-width: 320px;
        max-width: 500px;
    }
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    bottom: -2px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #d22b3c ,#d80b1f);
    animation: slide 2s;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.input-field .underline::before,
.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.input-field .underline::before{
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    background: linear-gradient(45deg, #d22b3c ,#3f5aa6);
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after ,
.input-field textarea:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input,.input-field textarea {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width:100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #d22b3c, #3f5aa6);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 300ms ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#d22b3c, #3f5aa6);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-fields{
    padding-top:1.4rem;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.squares li{
    width: 40px;
    height: 40px;

    background-color:rgba(255,255,255,0.15);
    
    display:block;
    position:absolute;
    bottom:-40px;
    animation: up 2s infinite alternate ;
}