{% extends "layout.html" %}
{% block title %}Change password{% endblock %}
{% block css %}login.css{% endblock %}

{% block content %}
    <div class="centralize">
        <main class="container">
            <h2>Change password</h2>
        
            <form action="/change_password" method="post">
                <div class="input-field">
                    <input type="password" name="old_password" id="old_password" placeholder="Enter your Old Password" required >
                    <div class="underline"></div>
                </div>

                <div class="input-field">
                    <input name="new_password" id="new_password" placeholder="Enter your new Password" type="password" required>
                    <div class="underline"></div>
                </div>

                <div class="input-field">
                    <input name="new_password_again" id="new_password_again" placeholder="Enter your new Password Again" type="password" required>
                    <div class="underline"></div>
                </div>

                {% if error %}
                    <span style="font-weight: 600; font-size:20px;margin-top:2px;">{{ error }}</span>
                {% endif %}

                <input type="submit" value="Continue">
            </form>
        </main>  

    </div>

    <ul class="squares">
    </ul>
{% endblock %}