<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/layout.css">
        <link rel="stylesheet" href="{% block css %}{% endblock %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body> 
        <nav>
            {% if session.user_id %}
                <div class="left">
                    <a href="/">
                        <img class="logo" src="/img/logo.png" alt="Youtube EAD">
                    </a>
                    <a href="#">Explore <div class="underline"></div></a>
                    <a href="#">Create Category <div class="underline"></div></a>
                    <a href="#">Create Video <div class="underline"></div></a>
                    <a href="#">Create Playlist <div class="underline"></div></a>
                </div>
                <div class="right">
                    <a href="#">Log Out <div class="underline"></div></a>
                    <a href="#">Change Password <div class="underline"></div></a>
                    <a href="#">Perfil <div class="underline"></div></a>
                </div>
            {% else %}
                <div class="left">
                    <a href="/">
                        <img class="logo" src="/img/logo.png" alt="Youtube EAD">
                    </a>
                </div>
                <div class="right">
                    <a href="/register">Register <div class="underline"></div></a>
                    <a href="/login">Login <div class="underline"></div></a>
                </div>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
       
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId            : '430296648120551',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v9.0'
              });
            };
        </script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v9.0&appId=430296648120551&autoLogAppEvents=1" nonce="xQ6Afjdv"></script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>   
        <script src="/scripts.js"></script>
    </body>
</html>