{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block css %}login.css{% endblock %}

{% block content %}
<div class="centralize">
    <main class="container">
        <h2>Register</h2>
    
        <form action="/register" method="post">
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter your Username" required>
                <div class="underline"></div>
            </div>
    
            <div class="input-field" >
                <input type="password" name="password" id="password" placeholder="Enter your Password" required>
                <div class="underline"></div>
            </div>
    
            <div class="input-field" >
                <input type="password" name="passwordAgain" id="passwordAgain" placeholder="Enter again your Password" required>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <input name="image" placeholder="Link of image" type="url">
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <textarea name="about" placeholder="Description" type="text" maxlength="255" ></textarea> 
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue">
        </form>
    
        <div class="footer">
            <span>Or Connect With Social Media</span>

            <div class="social-fields">
                <div class="fb-login-button" data-width="200" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"onlogin="checkRegisterState();"></div>
            </div>

            <span class="facebook_status"></span>
            {% if error %}
                <span style="font-weight: 600; font-size:20px;margin-top:2px;">{{ error }}</span>
            {% endif %}
        </div>
    </main>  

</div>

<ul class="squares">
</ul>

<script>
    function checkRegisterState() {
        FB.getLoginStatus(async responseOfLogin => {    
            if (responseOfLogin.status === 'connected') {   
                await FB.api('/me',async response => {
                    responseOfLogin.authResponse.name = response.name
                                        
                    await fetch(location.href,{  
                        method:'POST',
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        body:JSON.stringify(responseOfLogin.authResponse)
                    })
                });

            } else {                                
                document.getElementById('facebook_status').innerHTML = 'Please log into this webpage.';
            }

        });
    }
</script>
{% endblock %}